/* 
    File: styles/dashboard.css
    Author: Yash Balotiya
    Description: This page contains all the CSS code of the Dashboard Page.
    Created on: 05/08/2025
    Last Modified: 08/08/2025
*/

body {
    width: 100vw;
    height: 100vh;
}

/* Main Container */
#mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fafbfc;
}

/* Header Section */
#headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerSection span {
    display: flex;
    align-items: center;
}

#logoImage {
    width: 40%;
    height: auto;
}

#headerSection b {
    font-size: 30px;
    margin-left: 20px;
    color: brown;
}

#monthInput {
    width: 200px;
    justify-self: flex-end;
}

/* Main Dashboard Section */
#dashboardSection {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Left, Middle, Right Sections */
#leftButtonsDiv,
#middleChartsDiv,
#rightMainDiv {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Left Side Buttons */
.dashboardButton {
    width: 8vw;
    height: 8vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.dashboardButton:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dashboardButton p {
    font-size: 14px;
}

.dashboardButton img {
    width: 80%;
}