/* 
    File: src/styles/dashboard_right.css
    Author: Yash Balotiya
    Description: This file contains all the CSS code of the Dashboard Page specifically for charts, statistics & Reminders.
    Created on: 05/08/2025
    Last Modified: 21/09/2025
*/

/* Middle Charts Section */
#middleChartsDiv {
    width: 60%;
}

.chartContainer {
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.cc2 {
    flex-direction: row;
    justify-content: space-evenly;
}

.chartContainer2 {
    width: 60%;
}

#rightMainDiv {
    width: 25%;
}

.chartContainer h3 {
    align-self: flex-start;
}

#chart1 {
    height: 90%;
}

#chart2 {
    width: 100%;
}

#chart3 {
    width: 100%;
}

/* Right Side Container */
#rightMainDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

/* Each Section */
.rightChild {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Date & Time */
.dateTimeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    font-size: 20px;
}

/* Stats Section */
.mainStatsDiv {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 4%;
}

.statCard {
    width: 48%;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
}

/* Reminder Div */
.reminderTitleSpan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30%;
}

#reminderButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Send SMS Button */
button {
    /* width: 100%; */
    padding: 10px;
    margin-left: 8px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    /* animation: yellowBlink 1.5s infinite; */
    transition: background-color 1s ease;
}

button:hover {
    background-color: darkred;
}

/* animation bg color yellow blink */
@keyframes yellowBlink {
    0% {
        background-color: brown;
    }

    50% {
        background-color: yellow;
        color: darkred;
    }

    100% {
        background-color: brown;
    }
}

/* Marquee */
#reminderButtonDiv marquee {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: yellow;
    border-radius: 12px;
}