/* 
    File: styles/dashboard.css
    Author: Neha Balotia, Yash Balotiya
    Description: This page contains all the CSS code of the Dashboard Page.
    Created on: 05/08/2025
    Last Modified: 05/08/2025
*/

body {
    width: 100vw;
    height: 100vh;
}

#mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fafbfc;
    /* text-align: center; */
}

#headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerSection span {
    display: flex;
    align-items: center;
}

#logoImage {
    width: 40%;
    height: auto;
    /* margin: 0 auto 20px; */
}

#headerSection b {
    font-size: 30px;
    margin-left: 20px;
    color: brown;
}

#monthInput {
    width: 200px;
    justify-self: flex-end;
}

#dashboardSection {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#leftButtonsDiv,
#middleChartsDiv,
#rightMainDiv {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#middleChartsDiv {
    width: 60%;
    /* background-color: white;
    padding: 20px;
    border-radius: 12px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.chartContainer {
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    /* margin-bottom: 20px; */
}

.cc2 {
    flex-direction: row;
    justify-content: space-evenly;
}

.chartContainer2 {
    width: 60%;
}

#rightMainDiv {
    width: 25%;
}

.dashboardButton {
    width: 100%;
    /* Height square */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboardButton:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dashboardButton p {
    font-size: 14px;
}

.dashboardButton img {
    width: 80%;
}

.chartContainer h3 {
    align-self: flex-start;
}

#chart1 {
    /* width: 100%; */
    height: 90%;
}

#chart2 {
    width: 100%;
}

#chart3 {
    width: 100%;
}

/* Responsive for Laptop */
@media (max-width: 1536px) {
    .dashboardButton {
        height: 16%;
    }

    .dashboardButton img {
        width: 50%;
    }

    .chartContainerSmall3 {
        height: 90%;
    }

    #chart3 {
        width: 90%;
    }

    .cc2 br {
        display: none;
    }
}