/* File: styles/data_entry.css
   Author: Yash Balotiya
   Description: CSS for Customer Data Entry Page.
   Created on: 09/08/2025
   Last Modified: 15/08/2025
*/

body {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}

/* Header Style */
header {
    width: 100%;
}

/* Main Form Tag */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
}

/* Phone Input Section */
#phoneInputSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Input Container */
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.phoneInputSpan {
    width: 20%;
}

#phoneInput {
    width: 100%;
}

/* Photo & Signature Input Section */
#imageInputContainer {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.imageInput {
    width: 15%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    transition: border 0.3s ease;
    background-color: #f8f9fa;
    text-align: center;
    gap: 8px;
}

.imageInput label {
    cursor: pointer;
}

.imageInput:hover {
    /* border-color: #008CBA; */
    border-color: orange;
}

.imageInput img {
    width: 30%;
}

/* Horizontal Divider */
.hDivider {
    width: 100%;
    min-height: 1px;
    background: lightgray;
}
