/* File: src/styles/data_entry.css
   Author: Yash Balotiya
   Description: This file contains all the CSS code for styling the Data Entry Page.
   Created on: 09/08/2025
   Last Modified: 21/09/2025
*/

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

/* Header Style */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

header h1 {
    margin-bottom: 8px;
}

#headerTitle {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Main Form Tag */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
}

/* Phone Input Section */
#phoneInputSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Input Container */
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.phoneInputSpan {
    width: 48%;
}

/* Photo & Signature Input Section */
#imageInputContainer {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.imageInput {
    width: 15%;
    /* aspect-ratio: 1 / 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    transition: border 0.3s ease;
    background-color: #f8f9fa;
    text-align: center;
    gap: 8px;
}

.imageInput label {
    cursor: pointer;
}

.imageInput:hover {
    border-color: orange;
}

.imageInput img {
    width: 5vh;
}

.imageInput.withImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; /* override default bg */
}

.imageInput.withImage img,
.imageInput.withImage span {
    display: none;
}

.imageInput:first-child {
    aspect-ratio: 1 / 1;
}

.imageInput:last-child {
    width: 25%;
}

/* Horizontal Divider */
.hDivider {
    width: 100%;
    min-height: 1px;
    background: lightgray;
}
