/* 
    File: styles/login_form.css
    Author: Neha Balotia, Yash Balotiya
    Description: This page contains all the CSS code of the Login Form.
    Created on: 13/07/2025
    Last Modified: 09/08/2025
*/

/* Right Login Panel (2 parts) */
.right-panel {
    flex: 2;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-box {
    width: 70%;
    min-height: calc(35%);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    padding: 40px 45px;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    animation: fadeInRight 1s ease-in-out;
    text-align: center;
}

.login-box h2 {
    font-size: 26px;
    color: #0f3556;
    margin-bottom: 8px;
}

.subtitle {
    color: #555;
}

input[type="text"],
input[type="password"] {
    background-color: #fdfdfd;
    transition: border-color 0.3s;
}

input:focus {
    border-width: 2px;
    border-color: orange;
    outline: none;
}

/* Prevent selection even inside username field */
#username {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Allow selection in password field only */
#password {
    user-select: text;
}

/* Submit Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #EB5B00;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d45a00;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    color: #d32f2f;
    font-weight: 500;
}