/* File: styles/master_entry.css
   Author: Neha Balotia, Yash Balotiya
   Description: Styles for the Master Entry Page, Fuel, Car, Payments too.
   Created on: 27/07/2025
   Updated: 15/08/2025
*/

html,
body {
    height: 100vh;
    width: 100vw;
    background: #ffffff;
}

/* --- HEADER --- */
header {
    padding: 20px;
}

/* --- MAIN CONTAINER --- */
.container {
    width: 100%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* --- PANELS: SIDE-BY-SIDE --- */
.panels {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --- TABLE CONTAINER --- */
.table-container {
    width: 60%;
    padding: 20px;
    /* background-color: #fefefe; */
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
}

.table-container .scrollDiv {
    height: 85%;
}

/* --- CLEAN TABLE STYLING --- */
.instructor-table {
    margin-top: 20px;
    text-transform: uppercase;
}

/* --- FORM CONTAINER --- */
.form-container {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Centered form and buttons */
.form-inner {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.label-above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

label {
    font-size: 16px;
}

input {
    width: 60%;
}

.buttons {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Fuel Entry Styles */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header input {
    width: 30%;
}

.fuel-inner-form {
    width: 60%;
    height: 70%;
}

.fuel-inner-form input {
    width: 100%;
}

.fuel-inner-form .buttons {
    width: 100%;
}

/* Car Entry Form Styles */
.car_form_inner {
    height: 500px;
}

.car_form_inner select {
    width: 60%;
}

/* Receipt Form Styles */
.receipt-inner-form .scrollDiv {
    height: 50%;
}

.receipt-inner-form div {
    width: 90%;
    /* height: auto; */
}

.receipt-inner-form .buttons {
    width: 90%;
}

/* Responsive */
@media (max-width: 1600px) {
    .table-container .scrollDiv {
        height: 80%;
    }
}