/* 
    File: styles/style.css
    Author: Neha Balotia, Yash Balotiya
    Description: This page contains all the CSS code of the Login Page.
    Created on: 13/07/2025
    Last Modified: 09/08/2025
*/

body {
    width: 100vw;
    height: 100vh;
}

/* Main Layout */
.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left Branding Panel */
.left-panel {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.brand {
    text-align: center;
    color: #0f3556;
    animation: fadeInLeft 1s ease-in-out;
}

.brand img {
    width: 80%;
    height: auto;
    user-select: none;
    -webkit-user-select: none;
}

.logo {
    margin-bottom: 100px;
}

/* Footer */
footer {
    padding: 0 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.footer-logo {
    display: none;
    width: 100px;
    height: auto;
}

footer h2 {
    display: none;
    margin: 0;
    font-size: 1.2rem;
    background: linear-gradient(90deg, darkorange, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

footer div {
    display: flex;
    align-items: center;
    gap: 15px;
    display: none;
    transition: all 0.3s ease-in-out;
}

footer div img {
    width: 30px;
    /* Adjust icon size */
    height: 30px;
}


/* Animations */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsiveness */
@media (max-width: 1280px) {
    .login-box {
        width: 100%;
    }
}