<!-- 
    File: views/car_entry.html
    Author: Ayush Shetty
    Description: This page contains all the HTML5 code of the Car Entry Registration Page.
    Created on: 05/08/2025
    Last Modified: 05/08/2025
-->

<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master Registration</title>
    <!-- Shared Stylesheet  -->
    <link rel="stylesheet" href="../styles/shared.css">
    <!-- Stylesheet for Master Registration Page -->
    <link rel="stylesheet" href="../styles/master_regs.css" />
</head>

<body>
    <header>
        <h4>CAR REGISTRATION</h4>
    </header>

    <main class="container">
        <div class="panels">

            <!-- Left Container: Instructor Table -->
            <div class="table-container">
                <label for="tbl">Registered Instructors</label>
                <table class="instructor-table" id="tbl">
                    <thead>
                        <tr class="active-row">
                            <th>Car Name</th>
                            <th>Car Model</th>
                            <th>Car Number</th>
                            <th>Fuel Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maruti Wagonar</td>
                            <td>2022</td>
                            <td>MH01DX7424</td>
                            <td>Petrol</td>
                        </tr>
                        <tr>
                            <td>Ertiga</td>
                            <td>2020</td>
                            <td>MH01DX7425</td>
                            <td>Diesel</td>
                        </tr>
                        <tr>
                            <td>Brezza</td>
                            <td>2021</td>
                            <td>MH01DX7426</td>
                            <td>Petrol</td>
                        </tr>
                        <tr>
                            <td>Alto</td>
                            <td>2022</td>
                            <td>MH01DX7427</td>
                            <td>CNG</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Right Container: Registration Form -->
            <div class="form-container right">
                <div class="form-inner">
                    <div class="form-content">
                        <h2>Car Registration.</h2><br>
                        <div class="label-above">
                            <label for="name">Car Name:</label>
                            <input type="text" id="name" placeholder="Car Name" autocomplete="off" />
                        </div>
                        <div class="label-above">
                            <label for="license">Car Model:</label>
                            <input type="text" id="license" placeholder="Car Model" autocomplete="off" />
                        </div>
                        <div class="label-above">
                            <label for="number">Car Number:</label>
                            <input type="text" id="number" placeholder="Car Number" autocomplete="off" />
                        </div>
                        <div class="label-above">
                            <label for="number">Fuel Type:</label>
                            <select name="fuel" id="fuel">
                                <option value="Petrol">Petrol</option>
                                <option value="Diesel">Diesel</option>
                                <option value="CNG">CNG</option>
                                <option value="Electric">Electric</option>
                            </select>
                        </div>
    
                    </div>

                    <div class="buttons">
                        <button type="button" class="btn yellow">Edit</button>
                        <button type="button" class="btn orange">Clear</button>
                        <button type="button" class="btn green">Save</button>
                        <button type="button" class="btn red">Exit</button>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>