<!-- 
    File: views/dashboard.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the Dashboard Page after Login.
    Created on: 04/08/2025
    Last Modified: 27/08/2025
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tab Title -->
    <title>Guide Motor Training School | Dashboard</title>

    <!-- Content Security Policy (adjusted to allow CDN) -->
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self'; 
        script-src 'self' https://cdn.jsdelivr.net; 
        style-src 'self' 'unsafe-inline'; 
        font-src https://fonts.googleapis.com https://fonts.gstatic.com; 
        img-src 'self' data:;
    ">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../styles/shared.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/dashboard_right.css">
    <link rel="stylesheet" href="../styles/dashboard_responsive.css">
</head>

<body>
    <!-- Main Content -->
    <main id="mainContainer">
        <!-- Header Section -->
        <section id="headerSection">
            <!-- Guide MTS Logo -->
            <img src="../assets/images/guide-logo.png" alt="Guide Motor Training School Logo" id="logoImage">

            <!-- Month Input -->
            <input type="month" id="monthInput" title="Select Month & Year" />
        </section>

        <!-- Actual Area -->
        <section id="dashboardSection">
            
            <!-- Left Buttons Div -->
            <div id="leftButtonsDiv">
                <!-- Button 1 -->
                <div class="dashboardButton" id="registrationButton">
                    <img src="../assets/images/registration.jpg" alt="Student Registration Image">
                    <p>Student Registration</p>
                </div>

                <!-- Button 2 -->
                <div class="dashboardButton" id="">
                    <img src="../assets/images/search.jpg" alt="Student Search Image">
                    <p>Student Search</p>
                </div>

                <!-- Button 3 -->
                <div class="dashboardButton" id="feesButton">
                    <img src="../assets/images/amount.jpg" alt="Student Fees Image">
                    <p>Student Fees</p>
                </div>

                <!-- Button 4 -->
                <div class="dashboardButton" id="">
                    <img src="../assets/images/form-14.jpg" alt="Form 14 Image">
                    <p>Form 14</p>
                </div>

                <!-- Button 5 -->
                <div class="dashboardButton" id="fuelEntryButton">
                    <img src="../assets/images/car-fuel.jpg" alt="Car Fuel Image">
                    <p>Car Fuel</p>
                </div>

                <!-- Button 6 -->
                <div class="dashboardButton" id="">
                    <img src="../assets/images/backup.jpg" alt="Backup Image">
                    <p>Backup</p>
                </div>
            </div>

            <!-- Middle Section -->
            <div id="middleChartsDiv">

                <!-- Chart Div1 -->
                <div class="chartContainer">
                    <h3>Total Students Enrolled</h3>
                    <canvas id="chart1"></canvas>
                </div>

                <!-- Chart Div2 -->
                <div class="chartContainer cc2">

                    <!-- Left -->
                    <div class="chartContainer2">
                        <h3>Monthly Revenue</h3><br>
                        <canvas id="chart2"></canvas>
                    </div>

                    <!-- Right -->
                    <div class="chartContainerSmall3">
                        <h3>Car Selection</h3><br>
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
            </div>

            <!-- Right Section -->
            <div id="rightMainDiv">
                
                <!-- Date & Time Section -->
                <div class="rightChild">
                    <!-- Title -->
                    <h3>Current Date & Time</h3>

                    <!-- Date & Time Display -->
                    <div class="dateTimeDiv">
                        <span id="currentDate">Loading...</span>
                        <span id="currentTime">Loading...</span>
                    </div>
                </div>

                <!-- Stats Section -->
                <div class="rightChild">
                    
                    <!-- Title -->
                    <h3>Business Stats</h3>

                    <!-- Main Stats Div 1 -->
                    <div class="mainStatsDiv">
                        <!-- All Time Registration -->
                        <span class="statCard">
                            <small>All Time Registration</small>
                            <big><b id="allTimeCountTxt">Loading...</b></big>
                        </span>

                        <!-- Current Year Registration -->
                        <span class="statCard">
                            <small>Current Year Registration</small>
                            <big><b id="currentYearCountTxt">Loading...</b></big>
                        </span>
                    </div>

                    <!-- Main Stats Div 2 -->
                    <div class="mainStatsDiv">
                        
                        <!-- Repeat Students -->
                        <span class="statCard">
                            <small>Repeat Students</small>
                            <big><b id="repeatStudentsCountTxt">Loading...</b></big>
                        </span>

                        <!-- Pending Payments -->
                        <span class="statCard">
                            <small>Pending Payments</small>
                            <big><b id="pendingPaymentsCountTxt">Loading...</b></big>
                        </span>
                    </div>
                </div>

                <!-- Reminders -->
                <div class="rightChild">

                    <!-- Title and Select Dropdown -->
                    <span class="reminderTitleSpan">

                        <!-- Title -->
                        <h3>Reminders</h3>

                        <!-- Select Dropdown -->
                        <select id="reminderSelect" title="Select Reminder Type">
                            <option value="payments">Payments</option>
                            <option value="licenses">Licenses</option>
                            <option value="birthdays">Birthdays</option>
                        </select>
                    </span>

                    <!-- Table Head -->
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Phone No.</th>
                            </tr>
                        </thead>
                    </table>

                    <!-- Scrollable Div with Table -->
                    <div class="scrollDiv">
                        <table>
                            <tbody>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>$100</td>
                                    <td>123-456-7890</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Sent Reminders Button -->
                    <button>Send Reminders</button>
                </div>
            </div>
        </section>
    </main>

    <!-- Scripts -->
    <script src="../scripts/imports/chart.umd.js"></script>
    <script type="module" src="../scripts/renderer/dashboard.js"></script>
    <script type="module" src="../scripts/renderer/dashboard_charts.js"></script>
</body>

</html>