<!-- 
    File: src/views/receipts.html
    Author: Yash Balotiya, Ayush Shetty
    Description: This page contains all the HTML5 code of the Receipts Page.
    Created on: 10/08/2025
    Last Modified: 21/09/2025
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tab Title -->
    <title>Guide Motor Training School | Receipts</title>

    <!-- Content Security Policy (adjusted to allow CDN) -->
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self'; 
        script-src 'self' https://cdn.jsdelivr.net; 
        style-src 'self' 'unsafe-inline'; 
        font-src https://fonts.googleapis.com https://fonts.gstatic.com; 
        img-src 'self' data:;
    ">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../styles/shared.css" />
    <link rel="stylesheet" href="../styles/master_entry.css" />
</head>

<body>
    <!-- Header Section -->
    <header>
        <h1>Receipts Management</h1>
    </header>

    <!-- Main Content -->
    <main class="container">
        <div class="panels">

            <!-- Left Container: Payment Table -->
            <div class="table-container">
                <!-- Title -->
                <div class="table-header">
                    <h2>Receipts</h2>
                    <input type="text" id="payment-date" autocomplete="off" title="Enter text to search"
                        placeholder="Search..." />
                </div>

                <!-- Table -->
                <table class="instructor-table">
                    <thead>
                        <tr class="active-row">
                            <th>Name</th>
                            <th>Work</th>
                            <th>Fee Amount</th>
                            <th>Pending Amount</th>
                        </tr>
                    </thead>
                </table>

                <div class="scrollDiv">
                    <table>
                        <tbody>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                            <tr>
                                <td>Maruti Wagonar</td>
                                <td>June 2025</td>
                                <td>500</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Ertiga</td>
                                <td>September 2025</td>
                                <td>400</td>
                                <td>Diesel</td>
                            </tr>
                            <tr>
                                <td>Brezza</td>
                                <td>September 2025</td>
                                <td>300</td>
                                <td>Petrol</td>
                            </tr>
                            <tr>
                                <td>Alto</td>
                                <td>September 2025</td>
                                <td>200</td>
                                <td>CNG</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Right Container: Receipt Details -->
            <div class="form-container right">
                <div class="form-inner receipt-inner-form">

                    <!-- Main Form -->
                    <div class="form-content">

                        <!-- Title -->
                        <h2>Receipt Details</h2>

                        <!-- <div> -->
                            <table>
                                <thead>
                                    <tr>
                                        <th>Receipt No</th>
                                        <th>Date</th>
                                        <th>Work</th>
                                        <th>Amount</th>
                                        <th>Payment Mode</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="scrollDiv">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td>01/08/2025</td>
                                            <td>Service Charge</td>
                                            <td>$100</td>
                                            <td>Credit Card</td>
                                        </tr>
                                        <tr>
                                            <td>002</td>
                                            <td>02/08/2025</td>
                                            <td>Fuel Charge</td>
                                            <td>$50</td>
                                            <td>Debit Card</td>
                                        </tr>
                                        <tr>
                                            <td>003</td>
                                            <td>03/08/2025</td>
                                            <td>Maintenance</td>
                                            <td>$200</td>
                                            <td>Net Banking</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td>01/08/2025</td>
                                            <td>Service Charge</td>
                                            <td>$100</td>
                                            <td>Credit Card</td>
                                        </tr>
                                        <tr>
                                            <td>002</td>
                                            <td>02/08/2025</td>
                                            <td>Fuel Charge</td>
                                            <td>$50</td>
                                            <td>Debit Card</td>
                                        </tr>
                                        <tr>
                                            <td>003</td>
                                            <td>03/08/2025</td>
                                            <td>Maintenance</td>
                                            <td>$200</td>
                                            <td>Net Banking</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td>01/08/2025</td>
                                            <td>Service Charge</td>
                                            <td>$100</td>
                                            <td>Credit Card</td>
                                        </tr>
                                        <tr>
                                            <td>002</td>
                                            <td>02/08/2025</td>
                                            <td>Fuel Charge</td>
                                            <td>$50</td>
                                            <td>Debit Card</td>
                                        </tr>
                                        <tr>
                                            <td>003</td>
                                            <td>03/08/2025</td>
                                            <td>Maintenance</td>
                                            <td>$200</td>
                                            <td>Net Banking</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- </div> -->

                        <!-- Submit Buttons -->
                        <div class="buttons">
                            <button type="button" class="btn green">Original Print</button>
                            <button type="button" class="btn orange">Duplicate Print</button>
                            <button type="button" class="btn red">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>