/* 
    File: src/styles/dashboard_responsive.css
    Author: Yash Balotiya
    Description: This file contains all the CSS code of the responsiveness of Dashboard Page.
    Created on: 05/08/2025
    Last Modified: 22/10/2025
*/

/* Responsive */
@media (max-width: 1920px) {
    .scrollDiv {
        height: 280px;
    }

    .rightChild:nth-child(3) {
        height: 500px;
    }
}

@media (max-height: 1000px) {
    .scrollDiv {
        height: 200px;
    }

    .rightChild:nth-child(3) {
        height: 450px;
    }
}

@media (max-width: 1600px) {
    #mainContainer {
        padding-top: 0;
    }

    #dashboardSection {
        margin-top: 8px;
    }

    .dashboardButton {
        width: 100%;
        height: 7vw;
        padding: 0;
    }

    .dashboardButton img {
        height: 70%;
        width: auto;
    }

    .chartContainerSmall3 {
        height: 90%;
    }

    #chart3 {
        width: 90%;
    }

    .cc2 br {
        display: none;
    }

    .rightChild {
        padding: 12px;
        gap: 4px;
    }

    .rightChild h3 {
        font-size: 1vw;
    }

    .dateTimeDiv {
        font-size: 1.1vw;
    }

    .statCard {
        width: 100%;
        padding: 8px;
        font-size: 0.9vw;
    }

    .statCard h4 {
        font-size: 1.2vw;
    }

    .scrollDiv {
        height: 350px;
    }

    .rightChild:nth-child(3) {
        height: 480px;
    }
}

@media (max-width: 1536px) {
    .scrollDiv {
        height: 250px;
    }

    .rightChild:nth-child(3) {
        height: 420px;
    }
}

@media (max-width: 1440px) or (max-height: 700px) {
    .dashboardButton {
        height: 14vh;
    }

    #mainContainer {
        padding-bottom: 8px;
    }

    h3 {
        font-size: 0.8rem;
    }

    #rightMainDiv {
        gap: 8px;
    }

    table,
    .rightChild:last-child,
    #reminderBtnDiv,
    .rightChild button {
        font-size: 0.8rem;
    }

    #reminderSelect,
    #monthInput {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 12px;
    }

    .rightChild:nth-child(3) {
        height: 380px;
    }
}

@media (max-width: 1280px) {
    .scrollDiv {
        height: 300px;
    }

    .rightChild:nth-child(3) {
        height: 360px;
    }
}

@media (max-height: 700px) {
    .scrollDiv {
        height: 180px;
    }

    .rightChild:nth-child(3) {
        height: 320px;
    }
}

@media (max-height: 650px) {
    #chart3 {
        width: 85%;
    }

    .rightChild:nth-child(3) {
        height: 300px;
    }
}