/* 
    File: src/styles/reminders.css
    Author: Yash Balotiya
    Description: Styles for Reminders Page
    Created on: 24/10/2025
    Last Modified: 20/12/2025
*/

/* Main Page */
body {
    padding: 20px;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#exitBtn {
    width: 200px;
}

/* Main Section */
main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Reminder Section */
.reminderSection {
    border: 2px solid orange;
    border-radius: 10px;
    flex: 0 0 49%;
    width: 49vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reminderSection span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Table Styles */
.reminderSection table {
    margin-top: 10px;
}

/* Scrollable Div */
.scrollDiv {
    display: none;
    height: 100vh;
    /* max-height: 350px; */
    overflow-y: auto;
    width: 100%;
}

/* Reminder Button */
.reminderBtn {
    padding: 10px 15px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Hover Effect */
    &:hover {
        background-color: darkred;
    }
}

/* Table Widths */
.w5 {
    width: 5%;
    min-width: 25px;
}

.w10 {
    width: 10%;
    min-width: 50px;
}

.w15 {
    width: 15%;
    min-width: 75px;
}

.w20 {
    width: 20%;
    min-width: 100px;
}

.w35 {
    width: 35%;
    min-width: 175px;
}

.w40 {
    width: 40%;
    min-width: 200px;
}