<!-- 
    File: src/views/invoice.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the Invoice Page.
    Created on: 16/09/2025
    Last Modified: 22/10/2025
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tab Title -->
    <title>Guide Motor Training School | Invoice</title>

    <!-- Content Security Policy (adjusted to allow CDN) -->
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self'; 
        script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; 
        style-src 'self' 'unsafe-inline'; 
        font-src https://fonts.googleapis.com https://fonts.gstatic.com; 
        img-src 'self' data:;
    ">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../styles/invoice.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Establishment, Receipt Type & Phone No. -->
        <div id="estdDiv">
            <b>ESTD: 1971</b>
            <b id="receiptType"></b>
            <b>Phone No.: 022 24072677 / 022 24074237</b>
        </div>

        <!-- Guide MTS Logo & Details -->
        <div id="companyDetailsDiv">
            <b>"Work is Worship"</b>
            <img src="../assets/images/guide-logo.png" alt="Guide MTS Logo">
            <b>(Government Recognized)</b>
            <p>178, Chandreshwar Bhavan, Opp. Union Bank of India, Sion (W), Mumbai - 400 022</p>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Customer Section -->
        <section id="admissionNoDiv">
            <!-- Admission No. -->
            <span>
                <b>Admission No.:&nbsp;</b>
                <u id="userId"></u>
            </span>

            <!-- Customer Name -->
            <span>
                <b>Customer Name:&nbsp;</b>
                <u id="customerName"></u>
            </span>

            <!-- Date -->
            <span>
                <b>Date:&nbsp;</b>
                <u id="dateId"></u>
            </span>
        </section>

        <!-- Payment Details -->
        <section id="studentDetailsDiv">
            <span></span>

            <span>
                <!-- Payment Details Title -->
                <b>Payment Details</b>

                <!-- Payment Details Table -->
                <table id="itemsTable">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th id="dateTh">Date</th>
                            <th>Work</th>
                            <th>Payment Mode</th>
                            <th>Amount Paid</th>
                            <th>Amount Remaining</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- dynamically filled -->
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3" style="text-align: right;"></td>
                            <td style="text-align: right;"><b>Total:</b></td>
                            <td><b id="totalAmount">0</b></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </span>

            <!-- Note Section & Manager Signature -->
            <span>
                <b><i>NOTE: PAYMENT WILL NOT BE REFUNDED UNDER ANY CIRCUMSTANCES</i></b>
                <p id="managerSign">Manager</p>
            </span>

            <!-- Cheque Note -->
            <span>
                <b><i>CHEQUE SUBJECT TO REALISATION</i></b>
            </span>
        </section>

        <!-- Rules Section -->
        <section id="rulesSection">
            <!-- Rules Title -->
            <b id="rulesTitle">RULES AND REGULATIONS</b>

            <!-- All Rules -->
            <div>
                <ol>
                    <li>This is a payment receipt only: right of admission is reserved by the management.</li>
                    <li><b>Money once deposited will not be refunded or adjusted under any circumstances.</b></li>
                    <li><b>Please check the Details / Spelling of your data before submitting at the RTO because after
                            the Application is submitted in the RTO, NO Corrections can be done.</b></li>
                    <li>In case the Candidate wishes to cancel Training, She/he should inform our office Minimum an Hour
                        before The Training Timing</li>
                    <li>There will be two physical appearances of candidate at R.T.O<br />
                        a. To obtain Learners license (Biometric, Verification & L.L. Test)<br />
                        b. For Permanent license (Driving test).<br />
                        While going to the RTO office all original documents should be carried compulsorily.<br />
                        <b>Aadhar Card should be carried in Original and in DigiLocker App.</b>
                    </li>
                    <li><b>The balance amount should be paid at time of booking your DL Test Slot for the driving
                            test.</b></li>
                    <li>Candidate should compulsorily be present every day for training 5-Mins before your time slot.
                    </li>
                    <li>No lessons will be imparted on Sunday's.</li>
                    <li>The driving test will be conducted only according to appointment dates available at RTO.</li>
                    <li><b>No driving lessons will be imparted after the candidate appears for driving test.</b></li>
                    <li>No leave will be granted for more than a week.</li>
                    <li>Enrollment fees & Training are valid only for six (6) months. After that he/she will be treated
                        as a newcomer.</li>
                    <li><b>Rs.500/- will be charged in Case the candidate Cancels after booking a date or fails to
                            appear on RTO DL Test Slot Booking date.</b></li>
                    <li>In case of any complaint the candidates are requested to inform management.</li>
                    <li>The candidate shall not act contrary to the instructions given and the provision of motor
                        vehicle rules, traffic and regulations. Falling which shall disqualify him/her to continue
                        further with the institution.</li>
                    <li>After the candidate has appeared and passed his/her Driving Test, the Smart card license
                        shall be delivered at candidates address by R.T.O authority via, Registered AD Postal Service
                        within 30 days.</li>
                    <li>We are not responsible if smart DL / RC is not received at your mentioned address by post.
                        Please keep track on the Delivery Status you receive via SMS on the registered mobile number.
                    </li>
                    <li>All rules and regulations are binding on every candidate without any reservation thereof and
                        full co-operation is solicited to maintain high standards of the institution.</li>
                </ol>
            </div>

            <!-- Agreement & Signature -->
            <div id="agreementDiv">
                <p>I hereby agree to all the rules & regulations mentioned above.</p>

                <img src="../assets/images/finger-icon.png" alt="Finger Icon" id="fingerImg">
                
                <span>
                    <pre>___________________________</pre>
                    <b>Signature of the Candidate</b>
                </span>
            </div>
        </section>
    </main>

    <!-- Script -->
    <script src="../scripts/renderer/invoice.js"></script>
</body>

</html>